h1{
		border-top: 3px solid red;
		border-bottom: 3px solid red;
		background-color: lightpink;
		text-align: center;
		padding-top: 20px;
		padding-bottom: 20px;
		font-size: 32px;
	}
.remove{
		display: none;
	}